<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>
<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories</a>
        <ul class="dropdown-menu">
            {% for category in categories %}
                <li><a class="dropdown-item" href="{% url 'category' category.id|slugify %}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'add_course' %}">Create course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'add_student' %}">Create student</a>
  </li>
</ul>
{% for cours in course_list%}
    <div class="card border-primary mb-3" style="margin: 2rem;">
        <div class="card-header"><b>{{ cours.name }}</b></div>
        <div class="card-body text-primary">
            <h6 class="card-title">{{ cours.description|linebreaks }}</h6>
            <p class="card-text">{{ cours.thesis|linebreaks }}</p>
            <p class="card-text text-muted"><i>teacher: {{ cours.teacher }}</i></p>
        </div>
    </div>
{% endfor %}
{% if is_paginated %}
    <nav aria-label="Page navigation example" style="margin-left: 20px">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" {% if page_obj.number == i %}
                                         style="background-color: #e9ecef" {% endif %} href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>
