{% extends 'template.html' %}
{% block title %}
{{ student.first_name }} {{ student.last_name }}
{% endblock %}
{% block content %}
<h1>{{ student.first_name }} {{ student.last_name }}</h1>
<hr>
<p><b>First name:</b> {{ student.first_name }}</p>
<p><b>Last name:</b> {{ student.last_name }}</p>
<p><b>Description:</b> {{ course.description }}</p>
<p><b>Thesis:</b> {{ course.thesis }}</p>
    <a href="/">Home</a>
    &nbsp;&nbsp;
    <a href="{% url 'course_update' course.id %}">Update</a>
{% endblock %}