{% extends 'template.html' %}
{% block title %}
    Students
{% endblock %}
{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Group</th>
        </tr>
        </thead>
        <tbody id="students">
        {% for student in object_list %}
            <tr>
                <td><a href="{% url 'student_detail' student.id %}">{{ student }}</a></td>
                <td>{{ student.group }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}